.home-page {
  .title {
    text-align: center;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    .item {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 1rem;
    }
  }
}
